#order-info {
	text-align: center;
}

#cart {
	display: none; /*inline-block;*/
	position: fixed;
	right: 0px;
	top: 100px;

	background-color: #9be6ef;

	color: #ef9be6;
	border-style: solid;
	border-width: 4px 0px 4px 4px;

	padding: 5px 10px 5px 5px;
}

#cart a {
	color: #ef9be6;
	font-family: Arial;
	font-size: 1.5em;
}

#cart:hover {
    background-color: #e6ef9b;
}
