<article>
    <section id="intro" class="clearfix">
        <div class="textbox">
            <h2>Welcome!</h2>
            <p>CupCraves is focused on providing high-quality cupcakes, service and customer satisfaction - I will do everything I can to meet your expectations.</p>

            <p>With a variety of offerings to choose from, I'm sure you'll find the cupcake to suit your occasion, event or craving! If you dont see what you are looking for, send me an email or call to see if your idea can be brought to life. Have a look around the website and if you have any further comments or questions, please feel free to contact us.</p>

            <p>We hope to see you again! Check back later for new updates to our website. There's much more to come!</p>
        </div>
        <%= image_tag('cupcakes/stylized/cupcake-character.png', :alt => 'Cupcake Character') %>
    </section>
    <section id="gallery">
        <%= image_tag('cupcakes/vanilla-pink.jpg', :alt => 'Vanilla Cupcake Photo') %>
    </section>
    <div class="frost-underline"></div>
    <section id="menu">
        <ul class="clearfix">
            <li><a href="/order#vanilla" class="menu-item">Vanilla</a></li>
            <li><a href="/order#chocolate" class="menu-item">Chocolate</a></li>
            <li><a href="/order#red-velvet" class="menu-item">Red Velvet</a></li>
            <li><a href="/order#cookies-and-cream" class="menu-item">Cookies and Cream</a></li>
            <li><a href="/order#jaffa" class="menu-item">Jaffa</a></li>
            <li><a href="/order#mocha" class="menu-item">Mocha</a></li>
            <li><a href="/order#rolo" class="menu-item">Rolo</a></li>
            <li><a href="/order#chocolate-sundae" class="menu-item">Chocolate Sundae</a></li>
            <li><a href="/order#graduation" class="menu-item">Graduation</a></li>
            <li><a href="/order#cookie-monster" class="menu-item">Cookie Monster</a></li>
            <li><a href="/order#minni-mouse" class="menu-item">Minni Mouse</a></li>
            <li><a href="/order#rainbow" class="menu-item">Rainbow</a></li>
            <li><a href="/order#turtle" class="menu-item">Turtle</a></li>
            <li><a href="/order#halloween" class="menu-item">Halloween</a></li>
            <li><a href="/order#easter" class="menu-item">Easter</a></li>
            <li><a href="/order#christmas" class="menu-item">Christmas</a></li>
            <li><a href="/order#caramel-slice" class="menu-item">Caramel Slice</a></li>
            <li><a href="/order#shortbread" class="menu-item">ShortBread</a></li>
            <li><a href="/order#lolly-bags" class="menu-item">Lolly Bags</a></li>
            <li><%= image_tag('cupcakes/stylized/cupcake-character-eat.png', :alt => 'Cupcake Character Eating') %></li>
        </ul>
    </section>
    <div class="frost-underline"></div>
    <section id="testimonials" class="clearfix">
        <div class="textbox">
            <p>"I hired Cupcraves (Jessica) for a duel birthday cake and cupcakes on the side, the cake was moist and looked fantastic, and the cupcake had rolos on top and were so velvety smooth, they were barely staying on the table until cake time. Very professional and at her low cost price I would highly recommend her to anyone. Thank you so much Jessica."</p>
            <p>-Janice Hanson.</p>
        </div>
        <%= image_tag('cupcakes/stylized/cupcake-character-point.png', :alt => 'Cupcake Character Pointing') %>
    </section>
</article>
