#contact-form {
	max-width: 500px;
	float: left;
}

#contact-info {
	float: right;
}

input[type="text"], textarea {
	background-color: #ef9be6;
	color: #fff;
	border: 3px solid;
	max-width: calc(100% - 25px);
	width: 100%;
}

textarea {
	min-height: 8em;
}

input[type="submit"] {
	background-color: #9be6ef;
	color: #fff;
	border: 3px solid;
}

input[type="submit"]:hover {
	background-color: #ef9be6;
}
